<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test ajax </title>

    <script type="text/javascript">
        function jsaction() {
            // alert("hello world");
            // var xhr = new XMLHttpRequest();
            // xhr.open("post","http://ddshop.com/index.php/dd/playground/printParameter");
            // xhr.send({hello:"world"});
            // alert({hello:"world"});
            var xhr = new XMLHttpRequest();
            xhr.open("get","http://ddshop.com/index.php/dd/playground/getParameter");
            xhr.send(null);
            xhr.onreadystatechange = function () {
                console.log(2);
                if (xhr.readyState == 4) {
                    alert(xhr.responseText);
                }
            }

            // console.log(xhr.responseText);
            // alert({hello:"world"});
        }
    </script>
</head>

<body style="background-color: #008800">
<input type="button" value="触发" onclick="jsaction()">
<div>{:captcha_img()}</div>
</body>
</html>